<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th width="5%">#</th>
				<th width="23.75%">Currency</th>
				<th width="23.75%">24 Hour Change</th>
				<th width="23.75%">Value USD</th>
				<th width="23.75%">Market Cap</th>
			</tr>
		</thead>
		<tbody *ngFor="let c of currencies; let i = index " (click)="expandedRow[i] = !expandedRow[i];">
			<tr>
				<td>
					{{ i + 1 }}
				</td>
				<td>
					<a [routerLink]="['/currency', currencies[i].id]">
						{{ c['name'] }}
					</a>
				</td>
				<td [ngClass]="percentageColors[i] ? 'positive-class' : 'negative-class'">
					{{ c['percent_change_24h'] | number:'1.2-2' }}%
				</td>
				<td>${{ c['price_usd'] | number:'1.2-2' }}</td>
				<td>${{ c['market_cap_usd'] | formatLargeNums}}</td>
			</tr>
			<tr *ngIf="expandedRow[i]">
				<td></td>
				<td colspan="2">
					<div>
						<p>24h Volume: ${{ c['24h_volume_usd'] | formatLargeNums }}</p>
						<p>Supply: {{ c['available_supply']  | formatLargeNums }}</p>
						<p>Market Cap Per: {{ marketCapPercentage[i] | percent:'.1-1' }}</p>
						<p>
							24h Ch. Rel. Bitcoin: 
							<span [ngClass]="bitcoinRelativeColors[i] ? 'positive-class' : 'negative-class'">
								{{ bitcoinRelativeChanges[i] | number:'1.2-2'}}%
							</span>
						</p>
					</div>
				</td>
				<td colspan="2">
					<p *ngIf="loading[i]; else showChart">Loading...</p>
 		 			<ng-template #showChart>
 		 				<app-charts [ctx]='i' [data]='historicalData[i]'></app-charts>
					</ng-template>
				</td>
			</tr>
		</tbody>
	 </table>	
	 <button 
	 	type="button" 
	 	class="btn btn-primary btn-block"
	 	(click)="incrementLimit()">
	 	More
	 </button>
</div>



