<h3>News</h3>
<hr>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
  	<a class="nav-item nav-link active show" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">All</a>
    <a class="nav-item nav-link" id="nav-reddit-tab" data-toggle="tab" href="#nav-reddit" role="tab" aria-controls="nav-reddit" aria-selected="false">Reddit</a>
    <a class="nav-item nav-link" id="nav-twitter-tab" data-toggle="tab" href="#nav-twitter" role="tab" aria-controls="nav-twitter" aria-selected="false">Twitter</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade active show" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab"><app-cryptocompare></app-cryptocompare></div>
  <div class="tab-pane fade" id="nav-reddit" role="tabpanel" aria-labelledby="nav-reddit-tab"><app-cryptocurrencysubreddit></app-cryptocurrencysubreddit></div>
  <div class="tab-pane fade" id="nav-twitter" role="tabpanel" aria-labelledby="nav-twitter-tab">Some twitter links</div>
</div>
