<div class="container col-md-6">
	<table class="table">
        <tr>
            <td>ID: {{ currency?.id }}</td>
        </tr>
        <tr>
            <td>Name: {{ currency?.name }}</td>
        </tr>
        <tr>
            <td>Symbol: {{ currency?.symbol }}</td>
        </tr>
        <tr>
            <td>Rank: {{ currency?.rank }}</td>
        </tr>
        <tr>
            <td>price_usd: {{ currency?.price_usd }}</td>
        </tr>
        <tr>
            <td>price_btc: {{ currency?.price_btc }}</td>
        </tr>
        <tr>
            <td>24_volume_usd: {{ currency?.day_volume_usd }}</td>
        </tr>
        <tr>
            <td>market_cap_usd: {{ currency?.market_cap_usd }}</td>
        </tr>
        <tr>
            <td>available_supply: {{ currency?.available_supply }}</td>
        </tr>
        <tr>
            <td>total_supply: {{ currency?.total_supply }}</td>
        </tr>
        <tr>
            <td>percent_change_1h: {{ currency?.percent_change_1h }}</td>
        </tr>
        <tr>
            <td>percent_change_24h: {{ currency?.percent_change_24h }}</td>
        </tr>
        <tr>
            <td>percent_change_7d: {{ currency?.percent_change_7d }}</td>
        </tr>
        <tr>
            <td>last_updated: {{ currency?.last_updated }}</td>
        </tr>
    </table>
</div>