<div class="container col-md-6">
    <p *ngIf="loading; else showTable">Loading...</p>
    <ng-template #showTable>
        <table class="table">
            <tr>
                <td>ID: {{ currency.id }}</td>
            </tr>
            <tr>
                <td>Name: {{ currency.name }}</td>
            </tr>
            <tr>
                <td>Symbol: {{ currency.symbol }}</td>
            </tr>
            <tr>
                <td>Rank: {{ currency.rank }}</td>
            </tr>
            <tr>
                <td>price_usd: ${{ currency.price_usd | number:'1.2-5' }}</td>
            </tr>
            <tr>
                <td>price_btc: {{ currency.price_btc }} B</td>
            </tr>
            <tr>
                <td>24_volume_usd: ${{ currency['24h_volume_usd'] != null ? (currency['24h_volume_usd'] | number:'1.2-5'): null }}{{ (currency.day_volume_usd != null ? (currency.day_volume_usd | number:'1.2-5'): null)}}
                </td>
            </tr>
            <tr>
                <td>market_cap_usd: ${{ currency.market_cap_usd | number:'1.2-5' }}</td>
            </tr>
            <tr>
                <td>available_supply: {{ currency.available_supply | number:'1.2-5' }}</td>
            </tr>
            <tr>
                <td>total_supply: {{ currency.total_supply | number:'1.2-5' }}</td>
            </tr>
            <tr>
                <td>percent_change_1h: {{ currency.percent_change_1h }}%</td>
            </tr>
            <tr>
                <td>percent_change_24h: {{ currency.percent_change_24h }}%</td>
            </tr>
            <tr>
                <td>percent_change_7d: {{ currency.percent_change_7d }}%</td>
            </tr>
            <tr>
                <td>last_updated: {{ currency.last_updated | date:'full' }}</td>
            </tr>
        </table>
        <app-charts [ctx]='0' [data]='historicalData'></app-charts>
    </ng-template>
</div>